apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mongo-pvc
  namespace: data236
spec:
  accessModes: ["ReadWriteOnce"]
  resources:
    requests:
      storage: 5Gi
  storageClassName: standard
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mongo
  namespace: data236
spec:
  replicas: 1
  selector:
    matchLabels: { app: mongo }
  template:
    metadata:
      labels: { app: mongo }
    spec:
      securityContext:
        fsGroup: 999        # helps avoid permission issues in /data/db
        runAsUser: 999
        runAsGroup: 999
      containers:
        - name: mongo
          image: dohyeong99/lab2-mongo:v1
          ports:
            - containerPort: 27017
          volumeMounts:
            - name: data
              mountPath: /data/db
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: mongo-pvc
---
apiVersion: v1
kind: Service
metadata:
  name: mongo
  namespace: data236
spec:
  selector: { app: mongo }
  ports:
    - name: mongo
      port: 27017
      targetPort: 27017
